
#newsPapers-container{
    display: flex;
    align-items: center;
}
.newsPapers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.side-camp{
 width: 200px;
 margin-left: 10px;
}
.sweet{
    width: 500px;
}
.PPE{
    display: flex;
   text-align: right;
}
.PPE img{
    width: 390px;
    height: 370px;
    margin: 10px;
}

/* Making Responsive */
@media only screen and (max-width:688px) {
    .newsPapers{
        grid-template-columns: repeat(1, 1fr);
    }
}

